@import url('../../.cache/wal/colors-waybar.css');

* {
font-family: "Fira Code", "FontAwesome";
font-weight: bold;
min-height: 0;
font-size: 96%;
font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
/* padding: 0.03125rem; */
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background: @background;
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background: none;
}


/**************/
/* Workspaces */
/**************/

#workspaces {
    transition: all 0.2s ease;
}

/* non-empty workspaces */
#workspaces button {
    background-color: @background;
    border: none;
    border-radius: 0;
    color: @foreground;
    transition: all 0.2s ease;
    text-shadow: none;

    /* center the icon, no clue why this is necessary */
    padding-left: 5px;
    padding-right: 10px;
    /* padding-top: 1px; */

    box-shadow: inset 0 -1px @cursor;
}


/* empty persistent workspaces */
#workspaces button.empty {
    background-color: @background;
    box-shadow: none;
}

#workspaces button:hover {
    /* transition-duration: .3s; */
    color: @background;
    background-color: @color14;
    box-shadow: inset 0 -1px @foreground;
    /* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
    text-shadow: inherit;
}

/* non-empty persistent workspaces */
#workspaces button.persistent {
    background-color: @color1;
}



/* active or visible workspaces */
#workspaces button.active,
#workspaces button.visible {
    color: @color0;
    background-color: @color14;
}

#workspaces button.urgent {
    color: @color3;
}

/**************/

#mode {
    background-color: @color2;
    border-bottom: 3px solid @foreground;
}

#clock,
#custom-date,
#custom-gpumode,
#battery,
#backlight,
#cpu,
#memory,
#disk,
#temperature,
#pulseaudio,
#wireplumber,
#mpris,
#custom-media,
#tray,
#window,
#custom-notification,
#mpd {
    background-color: @background;
    padding: 0 12px 0 12px;
    margin-left: 10px;

}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#window {
    color: @foreground
}

#clock {
    color: @foreground;
    box-shadow: inset 0 -1px @color14;
}

#custom-date {
    color: @foreground;
    box-shadow: inset 0 -1px @color14;
}

#custom-gpumode{
    color: @foreground;
    box-shadow: inset 0 -1px @color14;
}


#battery {
    color: @foreground;
    box-shadow: inset 0 -1px @color14;
}

#backlight {
    color: @foreground;
    box-shadow: inset 0 -1px @color14;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.critical:not(.charging) {
    background-color: @color5;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: black;
}

#cpu {
    color: @foreground;
    box-shadow: inset 0 -1px @color14;
}

#memory {
    color: @foreground;
    box-shadow: inset 0 -1px @color14;
}

#pulseaudio {
    color: @foreground;
    box-shadow: inset 0 -1px @color14;
}


#tray {
    color: @color15;
    box-shadow: inset 0 -1px @subtext0;

}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #bf616a;
}
